<div>
  <section
    id="slider-gallery"
    class="mt-[60px] max-h-[400px] overflow-y-clip flex flex-row flex-nowrap overflow-x-auto w-full snap-x snap-mandatory"
  >
    <figure #slide1 id="slide-1-figure" class="w-[100vw] shrink-0 snap-center">
      <img
        id="slide-1"
        src="assets/img/slides/slide-1.webp"
        alt="Listos para el cambio: Como con tantos servicios, clientes y talleres van a cambiar su forma de relacionarse"
      />
    </figure>
    <figure #slide2 id="slide-2-figure" class="w-[100vw] shrink-0 snap-center">
      <img
        id="slide-2"
        src="assets/img/slides/slide-2.webp"
        alt="Simplifica. Hazlo sencillo. Usa vídeo y streaming sin complicaciones."
      />
    </figure>
    <figure #slide3 id="slide-3-figure" class="w-[100vw] shrink-0 snap-center">
      <img
        #slide3
        id="slide-3"
        src="assets/img/slides/slide-3.webp"
        alt="La herramienta precisa: Todos sabemos que tener la herramienta precisa es crucial para el resultado final."
      />
    </figure>
  </section>
</div>
